
 *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
  }
        .main-container{
            background-color:rgb(0, 0, 0);
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-bottom: 40px;
            color:white;
        }
        h1{
            /* background-color:linear-gradient(red,white,yellow); */
            font-size: 75px;
            color: white;
            font-weight: bolder;
            /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
            /* position:fixed;
            top:300px; */
            text-shadow: 5px 3px 6px rgb(233, 245, 248,0.5);
            letter-spacing: 3px;
            


        }
        img{
            height: 270px;
            z-index: 1;
            transition: all 0.6s ease-in-out;
            
        }
        img:hover{

            transform:skewY(2deg) scale(1.2);
        }

      
.nav-buttons{
display: flex;
flex-direction: row;
justify-content: space-around;
width: 48vw;

}
a{
  width: 80px;
  text-align: center;
  text-decoration: none;
  color: black;
  transition: all 0.3s ease-in;
  margin: 4px;
}
a:hover{
  background-color: rgb(222, 238, 253);
  transform: scale(1.1);
}
.header{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  position: fixed;
  background-color: white;
  top: -10px;
  z-index: 9999;
}

.hero{
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-text{
  text-align: center;
}
img{
  display: flex;
  flex-direction: row;
  justify-self: center;
}

.video-section{
  margin: 2rem;
}
.video-h2{
   text-align: center;
   font-weight: bold;
   font-size: 2rem;
   margin: 1rem;
}
.about{
  margin: 5rem;
  text-align: center;
  font-weight: 800;
}

.footer{
  background-color: rgb(54, 56, 56);
  text-align: center;
  padding-bottom: 40px;
  color:white;
}