.buttons{
    display: flex;
    gap: 10px;
}
.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 30vh;
    margin-top: 6rem;
    padding: 2rem;

}
.head{
    font-size: 80px;
    font-weight: bold;
}

.random-container{
    display: flex;
    justify-content: center;
    align-content: center;
}

